
/*
 * Eventually core vitalibis 'v-' css class prefix will be replaced with 'gwp-' (Gigfilliate WP)
 */
.gwp-text-center {
  text-align: center;
}

.gwp-text-right {
  text-align: right;
}

@media (min-width: 992px) {
  .gwp-text-lg-right {
    text-align: right;
  }
}

.page-place-order-for-customer-mode {
  padding-top: 0 !important;
}

.page-place-order-for-customer-mode .top-navbar,
.page-place-order-for-customer-mode header,
.page-place-order-for-customer-mode nav.woocommerce-MyAccount-navigation,
.page-place-order-for-customer-mode .page-title-row,
.page-place-order-for-customer-mode footer.page-footer {
  display: none;
}

.page-place-order-for-customer-mode .woocommerce-MyAccount-content {
  width: 100% !important;
}

#gofc-customer-search {
  border: 1px solid #dee2e6;
  box-shadow: none;
}

.gofc-products-list {
  display: flex;
  flex-direction: column;
}

.gofc-customer,
.gofc-products-list-item {
  padding: 1rem 0.5rem;
  /* background-color: #f2f2f2; */
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.gofc-customer:last-child,
.gofc-products-list-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .gofc-customer [class*="v-col"] {
    display: flex;
    align-items: center;
  }

  .gofc-customer [class*="v-col"]:not(:first-child) {
    justify-content: center;
  }
}

.gofc-customer_full-name {
  text-transform: capitalize;
}

.gofc-customer_email {
  word-break: break-all;
}

.gofc-customer_total-spend {
  justify-content: center;
}

.gofc-products-list-item-add-to-cart-btn .added_to_cart_label,
.gofc-products-list-item-add-to-cart-btn .adding_to_cart_label,
.gofc-products-list-item-add-to-cart-btn.added .add_to_cart_label,
.gofc-products-list-item-add-to-cart-btn.added .adding_to_cart_label,
.gofc-products-list-item-add-to-cart-btn.loading .add_to_cart_label {
	display: none;
}

.gofc-products-list-item-add-to-cart-btn.added .added_to_cart_label,
.gofc-products-list-item-add-to-cart-btn.loading .adding_to_cart_label {
	display: block;
}

.gofc-products-list-item-add-to-cart-btn.added {
  background: #b20838;
  color: #ffffff;
}

.gofc-products-list-item .gofc-products-list-item_thumbnail-wrap {
  padding: 0.25rem;
}

.gofc-products-list-item .gofc-products-list-item_thumbnail {
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.gofc-products-list-item-price {
  display: block;
  font-weight: bold;
}

.gofc-products-list .added_to_cart.wc-forward {
  margin-left: 5px;
  display: block;
  background: #b20838;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@keyframes loading-animation {
	0% {
		transform: rotate(0deg)
	}

  50% {
		transform: rotate(180deg)
	}

  100% {
		transform: rotate(360deg)
	}
}

.loading-animation div {
	position: absolute;
	animation: loading-animation 1s linear infinite;
	width: 160px;
	height: 160px;
	top: 20px;
	left: 20px;
	border-radius: 50%;
	box-shadow: 0 4px 0 0 #b21938;
	transform-origin: 80px 82px;
}

.loading-spinner {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: none;
	margin: 0 auto;
}

.loading-animation {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0;
}

.loading-animation div {
	box-sizing: content-box;
}

.GIGFILLIATE_PLACING_ORDER_FOR_CUSTOMER_DELETE {
  position: fixed;
  bottom: 90px;
  right: 0;
}

.gofc-secondary {
  background-color: transparent !important;
  color: #000000 !important;
  border-radius: 3px !important;
  border: 1px solid #000000 !important;
}

.gofc-primary {
  background-color: #b20838 !important;
	color: #ffffff !important;
  border-radius: 3px !important;
}

#gof-customers-list_headers {
  display: none;
}

@media (min-width: 992px) {
  #gof-customers-list_headers {
    display: block;
  }
}

#gof-customers-list_headers,
#gofc-customers-list,
#gof-customer-list_skeleton {
  margin-bottom: 1rem;
}

#gof-customer-list_skeleton .v-skeleton-block,
#gof-customer-list_skeleton .v-skeleton-block .v-line {
  height: 24px;
}

.gofc-customer_value {
  display: inline-block;
  position: relative;
}

.gofc-customer_value .v-skeleton-block {
  position: absolute;
  top: 0;
  width: 24px;
  left: -8px;
  height: 24px;
}

.gofc-customer_value .v-skeleton-block .v-line {
  margin: 0;
  height: 24px;
}

.gofc-customer_value.gofc-customer_total-orders-value .v-skeleton-block {
  width: 24px;
}

.gofc-customer_value.gofc-customer_aov-value .v-skeleton-block {
  width: 60px;
}

.gofc-customer_value.total-spend_value .v-skeleton-block {
  width: 48px;
}

.gofc-product-variations {
  margin-top: 1rem;
}

.v-btn-primary.disabled {
  opacity: 0.5;
}
