/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.secondary-text {
	color: #989898;
}

@media (min-width: 992px) {
  .gofc-text-lg-right {
    text-align: right;
  }
}

#gofc-customer-search {
  border: 1px solid #dee2e6;
  box-shadow: none;
}

.gofc-products-list {
  display: flex;
  flex-direction: column;
}

.gofc-customers-list_item,
.gofc-products-list-item {
  padding: 1rem 0.5rem;
  /* background-color: #f2f2f2; */
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.gofc-customers-list_item:last-child,
.gofc-products-list-item:last-child {
  margin-bottom: 0;
}

.gofc-products-list-item-add-to-cart-btn .added_to_cart_label,
.gofc-products-list-item-add-to-cart-btn .adding_to_cart_label,
.gofc-products-list-item-add-to-cart-btn.added .add_to_cart_label,
.gofc-products-list-item-add-to-cart-btn.added .adding_to_cart_label,
.gofc-products-list-item-add-to-cart-btn.loading .add_to_cart_label {
	display: none;
}

.gofc-products-list-item-add-to-cart-btn.added .added_to_cart_label,
.gofc-products-list-item-add-to-cart-btn.loading .adding_to_cart_label {
	display: block;
}

.gofc-products-list-item-add-to-cart-btn.added {
	background: #b20838;
	color: #ffffff;
	pointer-events: none;
}

.gofc-products-list-item .gofc-products-list-item_thumbnail-wrap {
  padding: 0.25rem;
}

.gofc-products-list-item .gofc-products-list-item_thumbnail {
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.gofc-products-list-item-price {
  display: block;
  font-weight: bold;
}

.gofc-products-list .added_to_cart.wc-forward {
  display: none;
}

@keyframes loading-animation {
	0% {
		transform: rotate(0deg)
	}

  50% {
		transform: rotate(180deg)
	}

  100% {
		transform: rotate(360deg)
	}
}

.loading-animation div {
	position: absolute;
	animation: loading-animation 1s linear infinite;
	width: 160px;
	height: 160px;
	top: 20px;
	left: 20px;
	border-radius: 50%;
	box-shadow: 0 4px 0 0 #b21938;
	transform-origin: 80px 82px;
}

.loading-spinner {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: none;
	margin: 0 auto;
}

.loading-animation {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0;
}

.loading-animation div {
	box-sizing: content-box;
}

.GIGFILLIATE_PLACING_ORDER_FOR_CUSTOMER_DELETE {
  position: fixed;
  bottom: 90px;
  right: 0;
}
